.bloco{
    background-color: coral;
    border: 1px solid black;
    
}
body{
    display: grid;
    grid-template-columns: 70% 30%; /*cria coluna no site*/
    height:100vh; /*vh = viewport > é toda a area da tela*/
    grid-template-areas: 'header main'
                         'aside aside'
                         'footer footer'; /*definir o leyalt final do site*/
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}