/*RESET*/
*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    outline: none; /*quando clicar em uma caixa ele fica azul*/
}
    /* VARIAVÉIS */
:root{
    --corAzul:#274083;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: 'cabecalho formulario'
                         'principal formulario'
                         'rodape formulario';
    height: 100vh;

}
/* HEADER */
header{
    grid-area: cabecalho;

}
.logo h1{
    color: var(--corAzul);
    margin-left: 10px;/* espaçamento entre os itens*/
}
.logo img{
    width: 80px;
}
.logo{
    display: flex;
    align-items: center;
    padding: 10px 30px;
}

/* MAIN */
main{
    background: linear-gradient(to right, #48a0df, var(--corAzul));
    grid-area: principal;
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1cm;
}
main figure{
    width: 200px;
}
main figure img{
    width: 100%;
}
main h1{
    font-size: 40px;
    width: 80%;
    margin-bottom: 30px;
}
main h3{
    width: 80%;
}
/* ASIDE */
aside{
    background-color:var(--corAzul);
    grid-area: formulario;
}
/* FOOTER */
footer{
    grid-area: rodape;
    display: flex;
    background-color:#ccc;
    color: var(--corAzul);
    padding: 30px;
}
footer section{
    margin: 5px 20px;
}
footer .rodape-titulo{
    margin-bottom: 20px;
}
footer .rodape-conteudo{
    text-align: justify;
    line-height: 0.7cm;
}